@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #fdfdfe;
  width: 100%;
}

.header {
  min-width: 1340px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.container {
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 16px;
  background-color: #ffffff;
}

.top_line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -11px;
}

.header_row {
  width: 100%;
  height: 115px;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

.row_column {
  width: 33.333%;
}

.left_column {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  text-align: center;
  margin: 0 auto;
}

.button_block {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 185px;
  height: 30px;
  border: 1px solid black;
}

.button:hover {
  color: #f2e8df;
  border: none;
  background-color: #d0aa8c;
  border: 1px solid #d0aa8c;
}

.button a {
  margin-top: 7px;
  float: right;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #2f2c34;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

a:hover {
  color: #f2e8df;
}

.number_block {
  max-width: auto;
}

.number {
  color: #2f2c34;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  /* Text style for "+44 777 10" */
  letter-spacing: 1px;
}

.title {
  color: #d0aa8c;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "Viber & Wh" */
  letter-spacing: 0.63px;
  padding-top: 10px;
}

.title img {
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  float: right;
}

.nav_container {
  max-width: 100%;
  min-width: 1340px;
  height: 60px;
  background-color: #2f2c34;
  margin: 0 auto;
}

.nav_bar {
  margin: 0 auto;
  max-width: 1340px;
  min-width: 1340px;
  height: 100%;
}

.nav_bar_box {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title .last_a {
  border: none;
}

.nav_bar_item {
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: -10px;
}

.nav_bar a {
  margin-top: 7px;
  float: right;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #2f2c34;
  color: white;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-family: Romul;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}

.bottom_menu_box {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8c7b2;
  max-width: 1200px;
  margin: 0 auto;
}

.bottom_menu_box_item {
  min-width: 78px;
  padding-bottom: 10px;
}
.bottom_menu_box_item .bottom_menu_title1 {
  border-right: 1px solid #2f2c34;
}
.bottom_menu_box_item .bottom_menu_title2 {
  border-left: 1px solid #2f2c34;
}
.bottom_menu_box_item a {
  margin-top: 7px;
  float: right;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #2f2c34;
  color: #332f36;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "гла" */
  color: #2f2c34;
  letter-spacing: 0.63px;
}

.bottom_menu_title1:hover {
  border-right: 1px solid #e8c7b2;
  color: #e8c7b2;
}

.bottom_menu_title2:hover {
  border-left: 1px solid #e8c7b2;
  color: #e8c7b2;
}

.bottom_menu_title:hover {
  color: #e8c7b2;
}

.footer {
  width: 100%;
  height: 338px;
  margin: 0 auto;
}

footer {
  min-width: 1340px;
  background: url(../../img/Слой_2footer.png) 0 0 no-repeat, url(../../img/Прямоугольник_1.png);
  background-size: 100% 100%;
}

.footer_container {
  margin: 0 auto;
  min-width: 1340px;
  max-width: 1340px;
  display: flex;
  justify-content: space-around;
}

.footer_container_column {
  width: 25%;
  margin-left: -15px;
}

.column_content {
  height: 100%;
  width: 75%;
  text-align: left;
  float: right;
  padding-top: 39px;
}

.column_list ul {
  padding-top: 20px;
  text-align: left;
  list-style-type: none;
}
.column_list ul a {
  float: right;
  width: 100%;
  height: 100%;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
  border-right: 1px solid #ffffff;
}
.column_list ul a:hover {
  opacity: 1;
}

.column_title p {
  color: #ffffff;
  font-family: Romul;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

.column_content_box {
  padding-right: 70px;
  margin: 0 auto;
  text-align: center;
  max-width: 185px;
  min-width: 185px;
}

.box_title {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #ffffff;
}
.box_title a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.17px;
}

.link_box_item1 {
  width: 185px;
  height: 120px;
  background-image: url(../../img/фон_нум_айкон.png);
  margin-top: 16px;
}
.link_box_item1 .icons {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  max-width: 100%;
  padding-left: 17px;
  padding-right: 17px;
}

.number_box {
  margin: 0 auto;
  color: #ffffff;
}
.number_box .title {
  text-align: right;
  padding-top: 0px;
  padding-right: 20px;
  color: #9a9a9a;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "круглосуто" */
  letter-spacing: 0.5px;
}
.number_box .number {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.33px;
}

.bottom_title {
  max-width: 1190px;
  margin: 0 auto;
  height: 96px;
}

.bottom_title p {
  color: #ffffff;
  padding-top: 52px;
  opacity: 0.3;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
}

.grid {
  min-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
  grid-gap: 20px;
}

.grid div {
  background-color: none;
}

.main {
  min-width: 1340px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.item_content img {
  width: 100%;
  height: auto;
  text-align: center;
}

.main_info {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  max-width: 733px;
  min-width: 733px;
}

.main_info h1 {
  /* Style for "экскурсии" */
  color: #2f2c34;
  font-family: Romul;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -20px;
  min-width: 262px;
}

.main_info h3 {
  color: #2f2c34;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "pegasus lu" */
  letter-spacing: 1px;
  min-width: 262px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
}

.item_content h2 {
  padding-top: 25px;
  color: #2f2c34;
  font-family: Romul;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "F, ARNBORO" */
  letter-spacing: -0.63px;
}

.item_content hr {
  color: #d0aa8c;
  width: 90px;
}

.item_content p {
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.item_button {
  margin: 0 auto;
  text-transform: uppercase;
  border: 2px solid #2f2c34;
  width: 274px;
  height: 32px;
  padding-top: 15px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.87px;
}

.item_button:hover {
  color: #ffff;
  background-color: #d0aa8c;
  border: none;
}

.content_blocs {
  width: 100%;
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 20px;
}